---
layout: single
author_profile: true
header:
  overlay_image: machine-learning.jpg
  overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
author_profile: true  
paginate: true
---

{% include base_path %}



<div class="page_list">
 {% for post in site.posts %}
   {% if post.url %}
    <article class="page_list">

      <h3><a href="{{ site.baseurl }}{{ post.url }}"> [{{ post.categories[0] }}] {{ post.title }}</a></h3>
        {{ post.excerpt }}
      
      
    </article>
     {% endif %}
  {% endfor %}
</div>

